# IDE / Editor
.idea/

# Frontend build artifacts & temp files
frontend/frontend-build.zip
frontend/temp_extract/
frontend/src/config.js~

# Python
venv/

# Environment variables
.env

# VM / disk images
*.qcow2

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
infrastructure/terraform.tfvars

README_backup.md
